/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 50px;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para Mensajes de Error */
.alerta {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Estilos para Formulario */
.form-group {
    margin-bottom: 20px;
}

.input__text {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn__group {
    margin-top: 20px;
    text-align: right;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dark {
    background-color: #343a40;
    color: #fff;
}

.btn-dark:hover {
    background-color: #1d2124;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.btn-info:hover {
    background-color: #117a8b;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .contenedor {
        padding: 10px;
    }
}
